<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>顯示查詢結果</title>
    <script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    function initializeApp(data) {
        var userid = data.context.userId;  //取得LINE Id
    }

    function reserve(search_text) {
        if (search_text == '') {  //資料檢查
            alert('欄位都要填寫！');
            return;
        }
		var msg = "####";  //回傳訊息字串
        msg = msg + search_text + "/";
        liff.sendMessages([  //推播訊息
            { type: 'text',
              text: msg
            }
        ])
            .then(() => {
                liff.closeWindow();  //關閉視窗
            });
    }

    $(document).ready(function () {
        liff.init(function (data) {  //初始化LIFF
            initializeApp(data);
        });
        $('#btn_reserve').click(function (e) {  //按下確定鈕
             $('#search_text').val());
        });
    });
</script>
</head>
    <title>顯示查詢結果</title>
	<body>
	<h2>洗錢防制法最終受益人資料庫</h2>
	<h2>查詢公司統一編號 </h2>
    <div>
       
	    <label>統一編號</label>
            <input type="text" id="search_text" class="form-control" />
	    <br />
	    <button class="btn btn-success btn-block" id="btn_reserve">確定</button>
	   {% csrf_token %}
    </div>		
		<h2>顯示資料表所有資料</h2>
		<table border="1" cellpadding="0" cellspacing="0">
			<th>資料庫編號</th><th>統一編號</th><th>序號</th><th>職稱 </th>
			<th>姓名</th><th>公司名</th><th>股數或投資額</th>
			{% for student2 in student2s %}
				<tr>
					<td>{{ student2.no }} </td>
					<td>{{ student2.companyid }} </td>
					<td>{{ student2.num}} </td>
					<td>{{ student2.jobname }} </td>
					<td>{{ student2.name  }} </td>
					<td>{{ student2.company}} </td>
					<td>{{ student2.cash }} </td>	
				</tr>
			{% endfor %}
		</table>
	
	</body>



</html>
